@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Pogreška - Nepostojeći lead";
}

<h1 class="text-danger" style="margin-top: 50px">Greška</h1>
<h2 class="text-danger">Nepostojeći lead</h2>
<br />
<h5 class="text-danger">
    Ova prodajna prilika ima status "Kreiran lead", ali nije moguće pronaći povezani lead.
    Molimo obratite se administratoru za pomoć.
</h5>


