@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger" style="margin-top: 50px">Greška</h1>
<h2 class="text-danger">Dogodila se greška prilikom obrade zahtjeva</h2>

