@{
    ViewBag.Title = "Početna";
}
<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Index", "Home")" class="btn btn-default">
            Početna
        </a>
        <a href="@Url.Action("Index", "Delivery")" class="btn btn-default">
            Dostava
        </a>
        <a href="@Url.Action("Index", "Account")" class="btn btn-default">
            Administracija korisnika
        </a>
    </div>
</div>
<hr />

<div class="jumbotron">

</div>

