
@{
    ViewBag.Title = "Izvještaji";
    Layout = "~/Views/Shared/_UserLayoutNew.cshtml";
}

<h2 style="text-align:center"><strong>Izvještaji</strong></h2>

<hr />
<h4>Osobni izvještaji</h4>
<div class="row">
    <div class="col-md-3">
        <a href="@Url.RouteUrl(new { action = "PersonalDailyActivities", controller = "Stats", area = "Stats", User.Identity.Name})" class="btn btn-default btn-sm">
            <i class="fa fa-book"></i>
            Osobni dnevnik
        </a>
    </div>
</div>
@if (User.IsInRole("Management") || User.IsInRole("Board") || User.IsInRole("Administrator") || User.IsInRole("Superadmin"))
{
    <hr />
    <h4>Statistike pozivnog centra</h4>
    <div class="row">
        <div class="col-md-3">
            <a href="@Url.RouteUrl(new { action = "CallCenterDaily", controller = "Stats", area = "Stats" })" class="btn btn-default btn-sm">
                <i class="fa fa-headphones"></i>
                Dnevna statistika poziva
            </a>
        </div>
    </div>
    <hr />
    <h4>Statistike odjela dostave</h4>
    <div class="row">
        <div class="col-md-3">
            <a href="@Url.RouteUrl(new { action = "Delivery", controller = "Stats", area = "Stats" })" class="btn btn-default btn-sm">
                <i class="fa fa-ticket"></i>
                Statistika kreiranih kartica
            </a>
        </div>
    </div>
    <hr />
}

