body {
  
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}
.special-wrap {
    max-height:103px;
    height:103px;
}
.info-left{
    float:left;
    width:50%;
   // background-color:#d3e1e4;
}
.info-right{
    float:left;
    width:50%;
    //background-color:#d3e1e4;
}
.ticket-body{
    overflow:auto;
}
.info{overflow:auto;
      //background-color:#d3e1e4;
      width:100%;}

.number-list {
list-style:none;
padding-left:0;
}
.number-list li{
   
     padding-left:10px; }
    

 li:hover {
    background-color:  darkcyan;
}

.contant-info{
    padding-left:0;
}
.contant-info li{
      display:block;
     float:none;
     line-height:35px;
     text-decoration:none;
     background-color:cadetblue;
     border-bottom-style:solid; 
     border-bottom-width:1px; 
     border-bottom-color:#CCCCCC; 
}

