
@{
    ViewBag.Title = "CreateTickets";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Kreiranje ticketa za dostavu</h2>

<h4>Čestitamo! Uspješno ste kreirali kartice za današnji dan.</h4>

@Html.ActionLink("Povratak", "Index")

