
@{
    ViewBag.Title = "Kreiranje kartica";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Kreiranje ticketa za dostavu</h2>

<h4>Čestitamo! Uspješno ste kreirali kartice za današnji dan.</h4>

<p>
    Broj ukupno kreiranih kartica: <strong>@ViewBag.Count</strong>
</p>

<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("Index", "Delivery")" class="btn btn-default">
            Povratak na popis kartica
        </a>
    </div>
</div>

