
@{
    ViewBag.Title = "Administracija sustava";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2 style="text-align:center"><strong>Administracija sustava</strong></h2>
<hr />
<h4>Korisnici</h4>
<div class="row">
    <div class="col-md-3">
        <a href="@Url.Action("Index", "Account")" class="btn btn-default btn-sm">
            <i class="fa fa-user"></i>
            Administracija korisnika
        </a>
    </div>
</div>
<hr />
<h4>Dostava</h4>
<div class="row">
    <div class="col-md-3">
        <a class="btn btn-default btn-sm" href="@Url.RouteUrl(new { action = "CreateTicketsFirstTime", controller = "Delivery", area = "", User.Identity.Name })"><i class="fa fa-ticket"></i> Kreiranje kartica za prvi put</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default btn-sm" href="@Url.RouteUrl(new { action = "CreateTickets", controller = "Delivery", area = "", User.Identity.Name })"><i class="fa fa-ticket"></i> Kreiranje kartica za preuzimanje</a>
    </div>
</div>
<hr />

