@model MojCRM.Areas.HelpDesk.ViewModels.AcquireEmailStatsPerAgentViewModel

@{
    ViewBag.Title = "Statistika - Dodijeljeni predmeti u kampanjama za ažuriranje baza korisnika";
    Layout = "~/Views/Shared/_UserLayoutNew.cshtml";
}

<h2>Statistika - Dodijeljeni predmeti u kampanjama za ažuriranje baza korisnika</h2>
<br />
<div class="alert alert-info">
    <p style="text-align: justify">
        Ovaj statistički pregled donosi podatke o dodijeljenim predmetima u kampanjama za ažuriranje baza korisnika. Statistika prikazuje podatke o
        kampanji i broju pokrenutih predmeta po toj kampanji za pojedinog agenta.<br/>
        U zbroj predmeta u ovoj statistici su ubrojani samo predmeti koji čekaju obradu, odnosno koji još nisu obrađeni.
    </p>
</div>
<hr />
<div class="row">
    <table id="ticket-table" class="table table-sorting">
        <thead>
        <tr>
            <th>Agent</th>
            <th>Kampanja</th>
            <th>Broj predmeta</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var entity in Model.Campaigns)
        {
            <tr>
                <td>@entity.Agent</td>
                <td>@entity.CampaignName</td>
                <td>@entity.NumberOfEntitiesForProcessing</td>
            </tr>
        }
        </tbody>
    </table>
</div>