@model HandleErrorInfo
@{
    ViewBag.Title = "Pogreška - Nepostojeći lead";
}

<h1 class="text-danger" style="margin-top: 50px">Greška</h1>
<h2 class="text-danger">Nepostojeći lead</h2>
<br />
<h5 class="text-danger">
    Excel datoteka koju pokušavate učitati je u neispravnom formatu.
    Molimo Vas da provjerite je li Excel datoteka koju pokušavate učitati u .xlsx formatu. Ako je datoteka u ispravnom formatu, a i dalje Vam se javlja pogreška, molimo da se obratite administatoru.
</h5>