@using WebMatrix.Data;
@{
    ViewBag.Title = "Dnevna statistika poziva pozivnog centra";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2 style="text-align:center"><strong>Statistike pozivnog centra</strong></h2>
<h3 style="text-align:center"><strong>Dnevna statistika poziva</strong></h3>
<hr />
<div>
    <img src="~/Views/Stats/_CallCenterDailyQuery.cshtml" />
</div>
<hr />

