@using GridMvc.Html

@model IQueryable<MojCRM.Models.Organizations>
@{
    ViewBag.Title = "Popis tvrtki";
    Layout = "~/Views/Shared/_UserLayoutNew.cshtml";
}

<body>
    <h2 style="text-align:center"><strong>Popis tvrtki</strong></h2>
    <hr />
    @using (Html.BeginForm("Index", "Organizations", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="organization-search">Naziv ili OIB tvrtke</label>
                    <div id="organization-search">
                        @Html.TextBox("Organization", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Naziv ili OIB tvrtke" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group" style="margin-bottom:0">
                <input id="Search" type="submit" class="btn btn-primary btn-sm" value="Traži" />
                <input id="btn-reset" type="reset" class="btn btn-warning btn-sm" value="Poništi" />
            </div>
        </div>
    }
    <hr />
    @Html.Grid(Model).Named("PopisSvihTvrtki").SetLanguage("hr").EmptyText("Nema rezultata").Columns(columns =>
{
    columns.Add(m => m.VAT).Encoded(false).Sanitized(false).Titled("OIB tvrtke").Sortable(true);
    columns.Add(m => m.SubjectName).Encoded(false).Sanitized(false).Titled("Naziv tvrtke").Sortable(true);
    columns.Add(m => m.Income).Encoded(false).Sanitized(false).Titled("Godišnji prihod").Sortable(true).Format("{0:C}");
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(m =>
    {
    return @<div><span>
        <a href = "@Url.RouteUrl(new { action = "Details", controller = "Organizations", area = "", id = m.MerId })" title = "Detalji tvrtke"><i class="fa fa-list"></i></a>
        </span></div>;
    });
}).WithPaging(20)
</body>

